<p style="color: green"><%= notice %></p>

<h1>Kittens</h1>


<div id="kittens">
  <ul>
    <% @kittens.each do |kitten| %>
      <li><%= link_to kitten.name, kitten %> | <%= link_to "Delete", kitten, data: { turbo_method: :delete } %></li>
    <% end %>
  </ul>
</div>

<%= link_to "New kitten", new_kitten_path %>
